<!-- {{ansible_managed }} -->
<?xml version="1.0" encoding="utf-8"?>
<cmsAddress>{{ xibo_cms_address }}</cmsAddress>
<key>{{ xibo_cms_key }}</key>
<localLibrary>&quot;/home/{{xibo_user}}/snap/xibo-player/common/resources&quot;</localLibrary>
<username/>
<password/>
<domain/>
<displayId>{{ xibo_dispay_id }}</displayId>
