<!-- {{ansible_managed }} -->
<?xml version="1.0" encoding="utf-8"?>
<cmsAddress>{{ xibo_linux_cms_address }}</cmsAddress>
<key>{{ xibo_linux_cms_key }}</key>
<localLibrary>&quot;/home/{{xibo_linux_user}}/snap/xibo-player/common/resources&quot;</localLibrary>
<username/>
<password/>
<domain/>
<displayId>{{ xibo_linux_display_id | hash('md5') }}</displayId>
